<section id="sub_header">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-8">
        <div class="main_title">
          <h1>Removal tips and Faq</h1>
          <p></p>
        </div>
      </div>
    </div>
  </div>
</section><!-- End section -->

<div class="container margin_60">
  <div class="row">

    <div class="col-md-9">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <div class="box_style_4">
            <h3><i class="icon_house_alt"></i> Preparing</h3>
            <ul>
              <li>Regard moving as an opportunity to get rid of belongings you no longer need. Consider making ”donate” and “sell” piles in each room for things you could do without.</li>
              <li>People have a tendency to keep outdated paperwork for a very long time. Realise that paper <strong>is very heavy</strong>. Do yourself a favour and get rid of any outdated documents prior to moving..</li>
              <li>Make sure you have a <strong>generous supply </strong>of packaging tape, scissors, markers and labels.</li>
              <li>Defrost your refrigerator in time for moving day.</li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="box_style_4">
            <h3><i class="icon_tags_alt"></i> Packing and labeling</h3>
            <ul>
              <li>Regard moving as an opportunity to get rid of belongings you no longer need. Consider making ”donate” and “sell” piles in each room for things you could do without.</li>
              <li>People have a tendency to keep outdated paperwork for a very long time. Realise that paper is very heavy. Do yourself a favour and get rid of any outdated documents prior to moving..</li>
              <li>Make sure you have a generous supply of packaging tape, scissors, markers and labels.</li>
              <li>Defrost your refrigerator in time for moving day.</li>
            </ul>
          </div>
        </div>
      </div><!-- End row -->
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <div class="box_style_4">
            <h3><i class=" icon_upload"></i> Moving out</h3>
            <ul>
              <li>Regard moving as an opportunity to get rid of belongings you no longer need. Consider making <strong>”donate” and “sell”</strong> piles in each room for things you could do without.</li>
              <li>People have a tendency to keep outdated paperwork for a very long time. Realise that paper is very heavy. Do yourself a favour and get rid of any outdated documents prior to moving..</li>
              <li>Make sure you have a generous supply of packaging tape, scissors, markers and labels.</li>
              <li>Defrost your refrigerator in time for moving day.</li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="box_style_4">
            <h3><i class="icon_download"></i> Moving in</h3>
            <ul>
              <li>Regard moving as an opportunity to get rid of belongings you no longer need. Consider making ”donate” and “sell” piles in each room for things you could do without.</li>
              <li>People have a tendency to keep outdated paperwork for a very long time. Realise that paper is very heavy. Do yourself a favour and get rid of any outdated documents prior to moving..</li>
              <li>Make sure you have a generous supply of packaging tape, scissors, markers and labels.</li>
              <li>Defrost your refrigerator in time for moving day.</li>
            </ul>
          </div>
        </div>
      </div><!-- End row -->

      <hr>

      <h3>Frequently asked questions</h3>
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Anim pariatur cliche reprehenderit?<i class="indicator icon_minus_alt2 pull-right"></i></a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Parsnip lotus root celery?<i class="indicator icon_plus_alt2 pull-right"></i></a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Beet greens peanut salad?<i class="indicator icon_plus_alt2 pull-right"></i></a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
      </div>

    </div><!-- End col-md-9 -->

    <div class="col-md-3">
      <div class="box_style_1">
        <ul id="cat_nav">
          <li><a href="#">Domestic removals</a></li>
          <li><a href="international_removals.html">International removals</a></li>
          <li><a href="special_furnitures.html">Special furnitures</a></li>
          <li><a href="reassembly.html">Reassembly &amp; Packing</a></li>
        </ul>
        <hr>
        <h5>Did you find what you need?</h5>
        <p class="nopadding">Ad sed apeirian senserit gloriatur, eu iusto ubique impetus quo.<br><a href="contacts.html" class="link_normal">Contact us</a></p>
      </div><!-- End Box_style_1 -->

      <div class="quote_banner"><a href="quotation.html">Need a quotation?</a></div>

      <div class="box_style_2">
        <h4>Top removal tips</h4>
        <h5><i class="icon_toolbox_alt"></i> Preparing</h5>
        <ul>
          <li>Defrost your refrigerator in time for moving day.</li>
          <li>It’s useful to keep a notebook at hand to write down reminders.</li>
          <li>Get in touch with utility companies to verify service start dates at your new home.</li>
        </ul>
        <h5><i class="icon_tag_alt"></i> Packing and labeling</h5>
        <ul>
          <li>Label boxes on all sides so you can see what it contains in a stack without having to move everything around.</li>
          <li>Clearly mark boxes containing fragile goods.</li>
          <li>Pack a suitcase with clothes and toiletries like you’re going on a trip for a few days.</li>
        </ul>
        <p><a href="faq.html" class="link_normal">Read more</a></p>
      </div><!-- End Box_style_2 -->

    </div><!-- End col-md-3 -->
  </div><!-- End row -->
</div><!-- End container -->

